Package: canaria-dock-tunnel
Version: 0.10.4-fix25.0
Depends: pi-bluetooth
Section: custom
Priority: optional
Architecture: all
Essential: no
Pre-Depends: autossh,stunnel
Installed-Size: 8192
Maintainer: canariatechnologies.com
Description: Package to tunnel to the dock gateway from remote docking stations
