

name: Run CICD

on:
  push:
   
  create:

  pull_request:
    types: [ opened, reopened, synchronize]
  
  workflow_dispatch:
  
env:
  BUILD_DIR: ./build/packages/*
  S3_BUCKET: s3://ci-test-dock-builds
  REPO_NAME: ${{ github.event.repository.name }}

jobs:
  ci:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: main
    
    outputs:
      branch: ${{ steps.extract_branch.outputs.branch }}
      version: ${{ env.VERSION }}
      
    steps:
    
    - name: Checkout cicd repo
      uses: actions/checkout@v2
      with:
        repository: pradymr/ci-test
        ref: main
        token: ${{ secrets.ACCESS_TOKEN }}
        path: ci-test
        
    
    - name: Extract branch name
      shell: bash
      run: |
          bash ./scripts/get-branch-name.bash
      id: extract_branch
      working-directory: ci-test
      
    - name: checkout main repo
      uses: actions/checkout@v2
      with:
       ref: ${{ steps.extract_branch.outputs.branch }}
       fetch-depth: 0
       path: main
       
      
    - name: Configure cicd
      shell: bash
      run: |
          bash ./scripts/configure-cicd.bash $repo $main_dir
      working-directory: ci-test
      env:
        repo: ${{ env.REPO_NAME }}
        main_dir: main
        
    - name: set up git 
      run: bash ./.github/scripts/setup-git.bash
      
    - name: bump version
      uses: ./main/.github/actions/bump-version
      with:
        branch_name: ${{ steps.extract_branch.outputs.branch }}
        package_type: deb
        proj_file: "./dock-tunnel/DEBIAN/control"
        working_dir: main
    
    - name: get current version
      if: ${{ github.event_name == 'workflow_dispatch' }}
      run: bash ./.github/scripts/get-version.bash deb "./dock-tunnel/DEBIAN/control"
        
  build-and-upload:
    needs: ci
    if: ${{ github.event_name == 'pull_request' || github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
    strategy:
      matrix:
        env: [dev, prod]
        

    runs-on: ubuntu-latest

    steps: 
    - name: checkout main repo
      uses: actions/checkout@v2
      with:
       ref: ${{needs.bump-version.outputs.branch}}
       fetch-depth: 0
    
    - name: Checkout cicd repo
      uses: actions/checkout@v2
      with:
        repository: pradymr/ci-test
        ref: main
        token: ${{ secrets.ACCESS_TOKEN }}
        path: .github
        
    - name: run build 
      run: bash ./.github/scripts/run-build.bash deb ./make-debs ./.env ${{ matrix.env }} dockgateway.canariadev.net dockgateway.canariatechnologies.com
    

    - name: upload artifacts in S3
      uses: ./.github/actions/upload-artifacts
      with:
        branch_name: ${{needs.ci.outputs.branch}}
        package_type: deb
        build_dir: ${{ env.BUILD_DIR }}
        zip_name: ${{ env.REPO_NAME }}_${{needs.ci.outputs.version}}_${{ matrix.env }}
        upload_location: ${{ env.S3_BUCKET }}/${{ env.REPO_NAME }}_${{needs.ci.outputs.version}}_${{ matrix.env }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: 'us-east-1'
        
    - name: list s3
      run: aws s3 ls ${{ env.S3_BUCKET }} --recursive | grep -i test-dock-tunnel | rev | cut -d' ' -f 1 | rev  | grep -i prod | grep -i _[0-9]*\.[0-9]*\.[0-9]*_
      env:
         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         AWS_DEFAULT_REGION: 'us-east-1'
 
